@using Tamagotchi.Models;

<h1>Your pet</h1>

@Model.Hungry
@Model.Tired
@Model.Bored

<form action="/play/feed" method="post">
  <button type="submit">Feed</button>
</form>

<form action="/play" method="post">
  <button type="submit">Bedtime</button>
</form>

<form action="/play" method="post">
  <button type="submit">Kickball</button>
</form>