<!DOCTYPE html>
<html>
  <head>
    <title>Tamagotchi</title>
    <!-- <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'> -->
  </head>
  <body>
    <h1>Tamagotchi</h1>
    <p>Click 'Start!' to adopt a new Tamagotchi</p>
    <form action="/play" method="post">
      <label for="name">Tamagotchi Name</label>
      <input id="name" name="name" type="text">
      <button type="submit">Start!</button>
    </form>
  </body>
</html>