<!DOCTYPE html>
<html>
  <head>
    <title>Tamagotchi</title>
  </head>
  <body>
    <h1>Tamagotchi</h1>
    <p>Click 'Start!' to adopt a new Tamagotchi</p>
    <form action="/play">
      <button type="submit">Start!</button>
    </form>
  </body>
</html>